body{
    background-image: url("./image/imagem_fundo_pizza_menu.png");
}

h1, h2, p{
    text-align: center;
}

.menu{
    background-color: #FCD7AD;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.flavor, .desserts{
    text-align: left;
    width: 75%;
}

.price{
    text-align: right;
    width: 25%;
}

.item p{
    display: inline-block;
    width: 50%;
}