body{
    background-image: url("./image/imagem_fundo_pizza_menu.png");
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}

h1, h2, p{
    text-align: center;
}

h1{
    margin-top: 0px;
    margin-bottom: 14px;
    font-size: 45px;
}

h2{
    font-size: 30px;
}

.menu{
    background-color: #FCD7AD;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    max-width: 550px;
    box-shadow: 5px 5px 5px rgba(0,0,0,75%);
}

.flavor, .desserts{
    text-align: left;
    width: 75%;
}

.price{
    text-align: right;
    width: 25%;
}

.item p{
    display: inline-block;
    width: 50%;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 19px;
}

hr{
    height: 3px;
    background-color: #F25A42;
    border-color: #F25A42;
}

.bottom-line{
    margin-top: 30px;
}

/* FOOTER */

footer{
    font-size: 14px;
}

.by{
    margin-bottom: 3px;
}

a{
    color: black;
}

a:visited{
    color: black;
}

a:hover{
    color: #F25A42; 
}

a:active{
    color: white;   
}