body{
    background-image: url("./image/imagem_fundo_pizza_menu.png");
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, p{
    text-align: center;
}

h1{
    font-size: 45px;
}

h2{
    font-size: 30px;
}

.menu{
    background-color: #FCD7AD;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    max-width: 550px;
}

.flavor, .desserts{
    text-align: left;
    width: 75%;
}

.price{
    text-align: right;
    width: 25%;
}

.item p{
    display: inline-block;
    width: 50%;
}